version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: monday
    time: "01:00"
  open-pull-requests-limit: 99
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
    day: monday
    time: "01:00"
  open-pull-requests-limit: 99
  ignore:
  - dependency-name: dockershelf/node
    versions:
    - "> 14"
